<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Fundamentals: финальный проект morning</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <h1>Поиск фильмов</h1>
</header>

<main class="container">

    <div class="sidebar left">

        <form action="/" method="POST">

            <input name="query" placeholder="И что мы ищем?" type="text">
            <button type="submit">Поиск</button>


            <label for="period">Поиск по периоду:</label>

            <select id="period" name="period">
                <option value="">Любой</option>
                <option value="old">Древние</option>
                <option value="1980s">80-е</option>
                <option value="1990s">90-е</option>
                <option value="2000s">2000-е</option>
                <option value="2010s">2010-е</option>
                <option value="2020s">2020-е</option>
                <option value="custom">Произвольный год</option>
            </select>
            <input id="customYear" name="customYear" placeholder="Введите год" style="display: none;" type="number"
                   min="1900" max="2100" step="1">

            <label for="genre">Поиск по жанру:</label>
            <select id="genre" name="genre">
                <option value="">Любой</option>
                {% if genres %}
                {% for genre in genres %}
                <option value="{{ genre[0]}}">{{ genre[0] }}</option>
                {% endfor %}
                {% endif %}
            </select>
        </form>
    </div>

    <div class="content">
        {% if films %}
            {% set films_dict = {} %}
            {% for title, description, actor, year in films %}
                {% if title not in films_dict %}
                {% set films_dict = films_dict.update({title: {'description': description, 'year': year, 'actors': [actor]}}) %}
                {% else %}
                {% set films_dict = films_dict.update({title: {'description': films_dict[title].description, 'year':
                films_dict[title].year, 'actors': films_dict[title].actors + [actor]}}) %}
                {% endif %}
            {% endfor %}

            {% for title, film_data in films_dict.items() %}
                <div class="film-card">
                    <h2>{{ title }}</h2>
                    <p class="description">{{ film_data.description }}</p>
                    <p class="actors">
                        Актёры:
                        {% for actor in film_data.actors %}
                    <form action="/" method="POST" style="display:inline;">
                        <input type="hidden" id="actor" name="actor" value="{{ actor or '' }}">
                        <button type="submit" style="background:none; border:none; color:blue; text-decoration: underline;">
                            {{ actor }}
                        </button>
                    </form>
                    {% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </p>
                    <p class="year">Год выпуска: {{ film_data.year }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>


    <div class="sidebar right">
        <p>ТОП запросов поиска фильмов по популярности:</p>
        {% if top_queries %}
        <ul>
            {% for query in top_queries %}
            <li>{{query[0]}} - {{ query[1] }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>ТОП запросов поиска фильмов по дате:</p>
        {% if recent_queries %}
        <ul>
            {% for recent_query in recent_queries %}
            <li>{{recent_query[0]}} - {{ recent_query[1] }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</main>

<script>
    document.getElementById('period').addEventListener('change', function () {
        var customYearInput = document.getElementById('customYear');
        if (this.value === 'custom') {
            customYearInput.style.display = 'block';
        } else {
            customYearInput.style.display = 'none';
        }
    });
</script>
</body>
</html>
